body{
  /* background-color: #7788e9; */
}
.kotak {
  margin:50px;
  width: 1250px;
  /* background-color: #c06464; */
  height :5000px;
  /* display: flex; */
  border: 2px;
  align-items: ;
  flex-direction: ;
}
.isi_kotak_utama{
  width: 1200px;

}